<div id="sprigster-landing">
  <div class="logo">
    <%= image_tag "logo.svg", :class => "logo" %>
    <h1>sprigster</h1>
  </div>
  <%= link_to new_user_path, :class => "get-started" do %>
    <div class="button arrow">get started <span>âœ</span></div>
  <% end %>
</div>