<div id="sprigster-landing">
  <div class="logo">
    <%= image_tag "logo.svg", :class => "logo" %>
    <h1>sprigster</h1>
  </div>
  <div class="get-started">
    <div class="button arrow">get started <span>âœ</span></div>
  </div>
</div>