<div id="sprigster-plants">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Plants" %>

  <h1>Plants</h1>

  <div class="plants">
    <% @plants.each do |plant| %>
      <%= render plant %>
      <!--p-->
        <!--%= link_to "Show this plant", plant %-->
      <!--/p-->
    <% end %>
  </div>

  <!--%= link_to "New plant", new_plant_path %-->
</div>

<script async
  src="https://kdhug52nqlefmuoapafyfzwl.agents.do-ai.run/static/chatbot/widget.js"
  data-agent-id="fc21be7d-a13e-11f0-b074-4e013e2ddde4"
  data-chatbot-id="VGR8s9SXLiern3BzWUpw7MmlpqqN341I"
  data-name="Spigster Chatbot"
  data-primary-color="#D97E96"
  data-secondary-color="#D97E96"
  data-button-background-color="#EFDBDD"
  data-starting-message="Hi, I'm your Sprigster chatbot! What are you plant pondering about?"
  data-logo="https://adelemcdonald.com/img/sprigster.svg">
</script>