/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Define branding colors */
:root {
  --green: #4D8C63;
  --pale-green: #B8D9C0;
  --deep-green: #0F594C;
  --pink: #D97E96;
  --pale-pink: #EFDBDD;
  --deep-pink: #CC5283;
}





/* APPLICATION */

/* Override default values. */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--deep-green);
  color: var(--pale-pink);
  font: normal 400 20px "Manrope", sans-serif;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-family: 'Petrona', serif;
  font-weight: 800;
  text-transform: lowercase;
}

a {
  text-decoration: none;
}

input[type="submit" i] {
  border: none;
}

.button {
  display: flex;
  align-items: center;

  color: var(--deep-pink);
  background-color: var(--pale-pink);
  font-size: 22px;
  font-weight: 800;
  padding: 4px 26px 8px;
  border-radius: 20px;
}

.button.arrow {
  padding-right: 20px;
}

.button.arrow span {
  display: inline-block;
  padding-left: 10px;
}





/* LANDING PAGE */

#sprigster-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#sprigster-landing .logo {
  display: flex;
  justify-content: center;
}

#sprigster-landing img {
  margin: 8px 10px 0 0;
  height: 60px;
  width: 60px;
}

#sprigster-landing h1 {
  color: var(--pale-pink);
  font: normal 400 50px "Fascinate", serif;
  margin: 0;
}

#sprigster-landing .get-started {
  margin-top: 20px;
}





/* USER VIEWS */

#sprigster-new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#sprigster-new-user h1 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--pink);
}

#sprigster-new-user .user-field {
  margin-bottom: 12px;
}

#sprigster-new-user label {
  text-transform: lowercase;
  font-size: 18px;
  margin-left: 4px;
}

#sprigster-new-user input[type="text"] {
  font: 14px 'Manrope';
  border: none;
  border-radius: 20px;
  padding: 4px 0 4px 10px;
}

#sprigster-new-user input[type="submit"] {
  display: flex;
  align-items: center;
  height: 30px;
  line-height: 22px;
  margin-top: 30px;
}





/* PLANTS VIEWS */

#sprigster-plants {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
  margin-top: -30px; /* hacky lol */
}

#sprigster-plants h1 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--pink);
}

#sprigster-plants .plants {
  display: flex;
  flex-direction: column;

  font-size: 14px;
}

#sprigster-plants .plant {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#sprigster-plant .plant-icon {
  height: 60px;
  width: 60px;
  margin-right:20px;
}

#sprigster-plant h2 {
  font-family: "Petrona";
  margin: 0 0 4px 0;
}

#sprigster-plant .field {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 2px 0;
}

#sprigster-plant .field strong {
  margin-right: 4px;
}

#sprigster-plant .field span {
  margin-right: 8px;
}

#sprigster-plant .field-icon {
  height: 16px;
  width: 16px;
  margin: 0 1px;
}





/* AGENT VIEW */

#sprigster-agent {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
}