/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* Define branding colors */
:root {
  --green: #4D8C63;
  --pale-green: #B8D9C0;
  --deep-green: #0F594C;
  --pink: #D97E96;
  --pale-pink: #EFDBDD;
  --deep-pink: #CC5283;
}





/* APPLICATION */

/* Override default values. */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--deep-green);
  color: var(--pale-pink);
  font: normal 400 20px "Manrope", sans-serif;

  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Petrona', serif;
  font-weight: 800;
  text-transform: lowercase;
}

a {
  text-decoration: none;
}

input[type="submit" i] {
  border: none;
}

.button {
  display: flex;
  align-items: center;

  color: var(--deep-pink);
  background-color: var(--pale-pink);
  font-weight: 800;
  padding: 4px 26px 8px;
  border-radius: 20px;
}

.button.arrow {
  padding-right: 20px;
}

.button.arrow span {
  display: inline-block;
  padding-left: 10px;
}





/* LANDING PAGE */

#sprigster-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

#sprigster-landing .logo {
  display: flex;
  justify-content: center;
}

#sprigster-landing img {
  margin: 8px 10px 0 0;
  height: 60px;
  width: 60px;
}

#sprigster-landing h1 {
  color: var(--pale-pink);
  font: normal 400 50px "Fascinate", serif;
  margin: 0;
}

#sprigster-landing .get-started {
  margin-top: 20px;
}





/* USER VIEWS */

#sprigster-new-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}